.page-template-homepage .xoo-wsc-basket,
.single .xoo-wsc-basket,
.shop .xoo-wsc-basket {
	display: none !important;
}

#sb_instagram .sbi_type_video .sbi_playbtn,
#sb_instagram .sbi_type_carousel .sbi_playbtn,
#sb_instagram .sbi_type_carousel .fa-clone,
#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
#sb_instagram .sbi_type_video .svg-inline--fa.fa-play {
	display: none !important;
}

@media only screen and (max-width: 599px) {
	.archive .new-products__heading-wrapper .show-hide-filters {
		padding: 10px 26px;
	}
	.archive .new-products__heading-wrapper .show-hide-filters span {
		font-weight: 700;
		text-transform: uppercase;
	}
	.instagram {
		height: auto;
	}
	.instagram #sb_instagram #sbi_load {
		position: relative;
	}
	.hero-section__main-wrapper {
		top: unset;
		bottom: 120px;
	}
	.site-header .tab-list {
		padding-left: 22px;
	}
	.site-header .tab-content {
		height: 75vh;
	}
	.parent,
	.site-header .tab-item {
		font-weight: 700;
		text-transform: uppercase;
	}
	.overlay2 {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 14%;
		background-color: rgba(0, 0, 0, 0.5);
		display: none;
		z-index: 7;
	}
	.archive .new-products .show-filters {
		height: 80%;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper {
		gap: 10px;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary {
		gap: 10px;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div table tbody tr .woo-variation-items-wrapper .image-variable-items-wrapper .image-variable-item {
		width: 18%;
		height: auto;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div table tbody tr .woo-variation-items-wrapper .image-variable-items-wrapper .selected {
		opacity: 0.7;
		border: 1px solid black;
		border-radius: 4px;
	}
	.single-product .hero-section__main-wrapper {
		bottom: 140px;
	}
	.single-product img.main-wrapper__logo {
		width: 120px;
	}
	.new-products__product {
		margin-right: auto;
		min-width: 300px;
		max-width: 300px;
	}
	.new-products__product .image-and-sizes a {
		height: 500px;
	}
	.new-products__product .image-and-sizes a img {
		height: 570px;
	}
	.archive .new-products .image-and-sizes a {
		height: 250px;
	}
	#menu-mobile-menu {
		width: 100%;
		padding: 20px;
	}
	#menu-mobile-menu li {
		margin-bottom: 0.75rem;
		opacity: 0.7;
	}
	#menu-mobile-menu li a {
		color: black;
	}
	.mobilemenu-wrapper {
		position: relative;
		z-index: 10;
		width: 100%;
		background-color: #f5f5f5;
		border-top: 1px solid #dddddd;
		margin-top: -130px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.site-header .main-wrapper__main-menu.active {
		background-color: white;
		margin-top: -20px;
	}
	.site-header .tab-content {
		padding-bottom: 150px;
	}
	.new-products__filter {
		opacity: 0;
	}
}

img.main-wrapper__logo {
	width: 250px;
}

.overlay2 {
	display: none;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email,
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone {
	padding-left: 1.5em;
	align-items: center;
	display: flex;
	margin-bottom: 5px;
	margin-top: 3px;
}

@media only screen and (min-width: 599px) {
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div table tbody tr .woo-variation-items-wrapper .image-variable-items-wrapper .image-variable-item {
		width: 60px;
		height: auto;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-card {
		justify-content: space-between;
		min-width: 100%;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-main-wrapper {
		display: flex;
		align-items: center;
		gap: 24px;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-message {
		display: none !important;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-actions {
		display: block !important;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-price {
		justify-content: flex-end;
	}
	.new-products__product .image-and-sizes a img {
		height: 670px;
	}
}

.post-type-archive .black {
	background-color: black !important;
}

button.accordion-button {
	padding: 10px 0px 10px 0px;
	background-color: transparent;
	box-shadow: none;
}

button.accordion-button.collapsed {
	padding: 20px 0px;
	border: 0;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Source Sans 3';
	box-shadow: none;
}

button.accordion-button:not(.collapsed) {
	box-shadow: none;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Source Sans 3';
	color: black;
}

button.accordion-button::after {
	background-size: 1rem !important;
	background-color: var(--grey-color-900);
	border-radius: 2px;
	background-position: center;
	background-image: url(/wp-content/uploads/2024/08/Property-1chevron-down-1.svg) !important;
}

.accordion-item {
	border: unset;
	border-bottom: 1px solid rgba(26, 26, 26, 0.12);
}

.accordion-item:last-of-type {
	border-bottom: 0;
}

.accordion-body {
	padding: 10px 0px;
}

#category-options,
#size-options,
#sort-options,
#color-options {
	display: flex;
	flex-direction: column;
}

.new-products .show-filters {
	min-width: 15%;
}

.privacy-template ul,
.privacy-template ol {
	margin: 0 0 0.5em 0;
	padding-left: 17px;
	font-family: 'Source Sans 3';
}

.privacy-template a {
	color: black;
	text-decoration: underline;
	font-weight: 600;
}

.privacy-template p {
	line-height: 1.5em;
}

.kupovina-povrat h2 {
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	font-size: 1rem;
	font-family: var(--secondary-font);
	line-height: 17.6px;
	transition: var(--transition);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
	color: var(--grey-color-900);
}

.povrat {
	background-color: var(--grey-color-900);
	border-radius: 2px;
	height: 20px;
	width: 20px;
}

.povrat img {
	height: 16px;
	width: auto;
	margin-bottom: 8px;
	margin-left: 2px;
}

.woo-variation-swatches .variable-items-wrapper .variable-item.no-stock .variable-item-contents,
.woo-variation-swatches .variable-items-wrapper .variable-item.no-stock img,
.woo-variation-swatches .variable-items-wrapper .variable-item.no-stock span {
	opacity: 1;
	background: #e4e4e4;
}

.product-infos__single img {
	height: 1.125rem;
	width: auto;
}

@media only screen and (max-width: 599px) {
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary h1 {
		line-height: 1.2;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div table tbody tr .woo-variation-items-wrapper .button-variable-items-wrapper {
		flex-wrap: wrap;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-card {
		margin-left: 0px;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-image {
		height: auto !important;
		width: 180px !important;
	}
	.archive .new-products .new-products__product {
		min-width: unset;
		max-width: unset;
	}
	.archive .new-products .show-filters {
		width: 93% !important;
	}
	.hero-section__main-wrapper {
		width: 91% !important;
		bottom: 125px;
	}
	.site-header .main-wrapper__main-menu.active {
		z-index: 22;
	}
}

@media only screen and (min-width: 787px) {
	.single-product .product-section .rtwpvg-product .product-single-wrapper {
		align-items: flex-start;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product {
		position: sticky !important;
		top: 24px !important;
	}
	.archive .new-products__wrapper {
		flex: 1;
	}
	.page-template-homepage .new-products__wrapper {
		grid-template-columns: repeat(12, 1fr);
		column-gap: 16px;
	}
	.page-template-wishlist .new-products__product {
		margin-right: auto;
		min-width: 490px;
		max-width: 490px;
	}
	.page-template-wishlist .new-products__wrapper {
		grid-template-columns: repeat(12, 1fr);
		column-gap: 16px;
	}
	.page-template-homepage .new-products__product {
		margin-right: auto;
		min-width: 490px;
		max-width: 490px;
	}
	.new-products__slider {
		overflow-x: hidden;
		white-space: nowrap;
		width: 100%;
		overflow-y: hidden;
		padding-bottom: 15px;
	}
	.new-products__slider:hover {
		overflow-x: auto;
	}
	.new-products__slider::-webkit-scrollbar {
		height: 6px;
		background-color: #0000;
	}
	.new-products__slider::-webkit-scrollbar-thumb {
		background-color: #d7d7d7;
		border-radius: 4px;
	}
	.new-products__slider::-webkit-scrollbar-thumb:hover {
		background-color: #d7d7d7;
	}
}

.hero-section__main-wrapper {
	width: 40%;
}

@media only screen and (min-width: 600px) and (max-width: 2080px) {
	.hero-section__main-wrapper {
		width: 60%;
	}
}

#fkcart-floating-toggler {
	display: none !important;
}

a.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout {
	visibility: hidden;
	font-weight: 700;
	font-family: 'Source Sans 3';
}

a.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout:before {
	content: "";
	background: url(/wp-content/uploads/2024/09/shopping-bag.svg);
	height: 24px;
	width: 24px;
	margin-right: 8px;
	background-repeat: no-repeat;
}

.page-template-shops .hero-section__image {
	display: none !important;
}

.nav-item a[href*="black-friday"] + ul a {
	color: red !important;
	font-weight: 500;
}

.onsale-percentage-badge {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ff0000;
	color: #fff;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 50%;
	z-index: 10;
}

@media only screen and (max-width: 599px) {
	.new-products__wrapper {
		grid-template-columns: repeat(12, 1fr);
	}
}

@media only screen and (min-width: 787px) {
	.home .new-products__wrapper {
		grid-template-columns: repeat(12, 1fr);
		column-gap: 16px;
	}
}

@media only screen and (max-width: 599px) {
	.archive .new-products__product .image-and-sizes a img {
		height: 250px;
	}
	.site-header .search-popup {
		z-index: 20;
	}
}

.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div .single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button {
	background: #b79c55 !important;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock .variable-item-contents,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock img,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock span {
	opacity: 1;
	background: #e4e4e4;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).no-stock .variable-item-contents:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" preserveAspectRatio="none"><line x1="0" y1="0" x2="10" y2="10" stroke="black" stroke-width="0.4"/></svg>');
	background-size: cover;
	pointer-events: none;
}

#fkcart-modal .fkcart-coupon-area .fkcart-coupon-input-wrap .fkcart-coupon-button {
	background: #b79c55 !important;
	border-color: #b79c55 !important;
	border-radius: 4px 4px 0px 0px;
}

#fkcart-modal .fkcart-checkout-wrap #fkcart-checkout-button {
	background-color: #b79c55 !important;
	color: white;
}

#fkcart-modal .fkcart-checkout-wrap #fkcart-checkout-button:hover {
	background-color: #a58d4d !important;
}

.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div table tbody tr .woo-variation-items-wrapper .image-variable-items-wrapper .selected {
	opacity: .7;
	border: 1px solid black;
	border-radius: 4px;
}

.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-card {
	justify-content: space-between;
	min-width: 100%;
}

.cuw-main-wrapper {
	display: flex;
	align-items: center;
	gap: 24px;
}

@media only screen and (max-width: 599px) {
	.cuw-main-wrapper {
		align-items: normal;
	}
}

.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-title {
	margin: 0 !important;
	font-size: 1rem;
	font-family: var(--secondary-font);
	line-height: 17.6px;
	transition: var(--transition);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
	color: var(--grey-color-900);
}

.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-price {
	font-family: var(--secondary-font);
	font-size: 1rem;
	line-height: 15.08px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 8px;
	color: var(--primary-color-500);
	font-weight: 400;
}

.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-card {
	width: auto !important;
	display: flex;
	align-items: center;
	gap: 24px;
}

.cuw-gird {
	flex-direction: column;
	gap: 24px;
}

@media only screen and (max-width: 599px) {
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .entry-summary .variations_form div table tbody tr .woo-variation-items-wrapper .button-variable-items-wrapper .button-variable-item {
		width: 31% !important;
	}
}

@media only screen and (max-width: 599px) {
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-card {
		flex-direction: row !important;
		gap: 8px !important;
	}
	.cuw-main-wrapper {
		min-width: 100%;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-product-image {
		height: auto !important;
		width: 100px !important;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cwu-product__inner-wrapper {
		max-width: 350px;
	}
	.single-product .product-section .rtwpvg-product .product-single-wrapper .summary-product .cross-sell-products .cuw-buy-section {
		width: 100%;
		overflow: hidden;
	}
	.cuw-fbt-products.cuw-mobile-responsive .cuw-buy-section .cuw-actions {
		margin-top: 10px;
	}
	.single-product .product-section {
		padding: 40px 0;
	}
}

a.wc-block-components-checkout-return-to-cart-button {
	display: none;
}

.wc-block-components-button:not(.is-link):hover {
	background-color: #a58d4d !important;
}

.wc-block-components-button:not(.is-link) {
	background-color: #b79c55 !important;
	color: white;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control.disable-radio-control .wc-block-components-radio-control__option {
	padding-left: 3.5em !important;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control.disable-radio-control .wc-block-components-radio-control__input {
	display: block !important;
}

.wc-block-components-radio-control-accordion-content {
	display: none;
}

article#post-113 .wc-block-components-title.wc-block-components-title {
	font-size: 2rem;
	text-transform: uppercase;
	line-height: normal;
}

article#post-113 {
	padding-top: 80px;
}

article#post-113 h1 {
	line-height: normal;
}

.wc-block-components-checkbox label input[type="checkbox"]::before {
	background-color: white;
}

.wc-block-components-totals-wrapper.slot-wrapper {
	display: none;
}

.slick-dots {
	bottom: 20px;
}

.slick-dots li button:before {
	font-size: 13px;
}

.slick-dots li.slick-active button:before {
	opacity: .85;
	color: white;
}

.slick-dots li button:before {
	color: white;
	opacity: .35;
}

form.woocommerce-form.woocommerce-form-register.register {
	height: 310px;
}

/*# sourceMappingURL=global.css.map */