// General Styles
.page-template-homepage,
.single,
.shop {
    .xoo-wsc-basket {
        display: none !important;
    }
}

#sb_instagram {

    .sbi_type_video .sbi_playbtn,
    .sbi_type_carousel .sbi_playbtn,
    .sbi_type_carousel .fa-clone,
    .sbi_type_carousel .svg-inline--fa.fa-play,
    .sbi_type_video .svg-inline--fa.fa-play {
        display: none !important;
    }
}

// Mobile Styles
@media only screen and (max-width: 599px) {
    .archive .new-products__heading-wrapper {
        .show-hide-filters {
            padding: 10px 26px;

            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    .instagram {
        height: 600px;

        #sb_instagram #sbi_load {
            position: relative;
            top: 65px;
        }
    }

    .hero-section__main-wrapper {
        top: unset;
        bottom: 120px;
    }

    .site-header {
        .tab-list {
            padding-left: 22px;
        }

        .tab-content {
            height: 75vh;
        }
    }

    .parent,
    .site-header .tab-item {
        font-weight: 700;
        text-transform: uppercase;
    }

    .overlay2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 14%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 7;
    }

    .archive .new-products {
        .show-filters {
            height: 80%;
        }
    }

    .single-product {
        .product-section {
            .rtwpvg-product {
                .product-single-wrapper {
                    gap: 10px;

                    .summary-product {
                        .entry-summary {
                            gap: 10px;

                            .variations_form div table tbody tr .woo-variation-items-wrapper {
                                .image-variable-items-wrapper {
                                    .image-variable-item {
                                        width: 18%;
                                        height: auto;
                                    }

                                    .selected {
                                        opacity: 0.7;
                                        border: 1px solid black;
                                        border-radius: 4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .hero-section__main-wrapper {
            bottom: 140px;
        }

        img.main-wrapper__logo {
            width: 120px;
        }
    }

    .new-products__product {
        margin-right: auto;
        min-width: 300px;
        max-width: 300px;

        .image-and-sizes {
            a {
                height: 500px;

                img {
                    height: 250px;
                }
            }
        }
    }

    .archive .new-products {
        .image-and-sizes {
            a {
                height: 250px;
            }
        }
    }

    #menu-mobile-menu {
        li {
            margin-bottom: 0.75rem;
            opacity: 0.7;

            a {
                color: black;
            }
        }

        width: 100%;
        padding: 20px;
    }

    .mobilemenu-wrapper {
        position: relative;
        z-index: 10;
        width: 100%;
        background-color: #f5f5f5;
        border-top: 1px solid #dddddd;
        margin-top: -130px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .site-header {
        .main-wrapper__main-menu.active {
            background-color: white;
            margin-top: -20px;
        }

        .tab-content {
            padding-bottom: 150px;
        }
    }

    .new-products__filter {
        opacity: 0;
    }
}

// Desktop Styles
img.main-wrapper__logo {
    width: 250px;
}

.overlay2 {
    display: none;
}

.woocommerce {
    .woocommerce-customer-details {

        .woocommerce-customer-details--email,
        .woocommerce-customer-details--phone {
            padding-left: 1.5em;
            align-items: center;
            display: flex;
            margin-bottom: 5px;
            margin-top: 3px;
        }
    }
}

@media only screen and (min-width: 599px) {
    .single-product {
        .product-section {
            .rtwpvg-product {
                .product-single-wrapper {
                    .summary-product {
                        .entry-summary {
                            .variations_form div table tbody tr .woo-variation-items-wrapper {
                                .image-variable-items-wrapper {
                                    .image-variable-item {
                                        width: 60px;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-section {
            .rtwpvg-product {
                .product-single-wrapper {
                    .summary-product {
                        .cross-sell-products {
                            .cuw-product-card {
                                justify-content: space-between;
                                min-width: 100%;
                            }

                            .cuw-main-wrapper {
                                display: flex;
                                align-items: center;
                                gap: 24px;
                            }

                            .cuw-message {
                                display: none !important;
                            }

                            .cuw-actions {
                                display: block !important;
                            }

                            .cuw-product-price {
                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }

    .new-products__product {
        .image-and-sizes {
            a {
                img {
                    height: 670px;
                }
            }
        }
    }
}

.post-type-archive {
    .black {
        background-color: black !important;
    }
}

button.accordion-button {
    padding: 10px 0px 10px 0px;
    background-color: transparent;
    box-shadow: none;

    &.collapsed {
        padding: 20px 0px;
        border: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Source Sans 3';
        box-shadow: none;
    }

    &:not(.collapsed) {
        box-shadow: none;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Source Sans 3';
        color: black;
    }

    &::after {
        background-size: 1rem !important;
        background-color: var(--grey-color-900);
        border-radius: 2px;
        background-position: center;
        background-image: url(/wp-content/uploads/2024/08/Property-1chevron-down-1.svg) !important;
    }
}

.accordion-item {
    border: unset;
    border-bottom: 1px solid rgba(26, 26, 26, 0.12);

    &:last-of-type {
        border-bottom: 0;
    }
}

.accordion-body {
    padding: 10px 0px;
}

// Options Containers
#category-options,
#size-options,
#sort-options,
#color-options {
    display: flex;
    flex-direction: column;
}

// New Products
.new-products {
    .show-filters {
        min-width: 15%;
    }
}

// Privacy Template
.privacy-template {

    ul,
    ol {
        margin: 0 0 0.5em 0;
        padding-left: 17px;
        font-family: 'Source Sans 3';
    }

    a {
        color: black;
        text-decoration: underline;
        font-weight: 600;
    }

    p {
        line-height: 1.5em;
    }
}

// Specific Elements
.kupovina-povrat {
    h2 {
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        font-size: 1rem;
        font-family: var(--secondary-font);
        line-height: 17.6px;
        transition: var(--transition);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0;
        color: var(--grey-color-900);
    }
}

.povrat {
    img {
        height: 16px;
        width: auto;
        margin-bottom: 8px;
        margin-left: 2px;
    }

    background-color: var(--grey-color-900);
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

// Woo Variation Swatches
.woo-variation-swatches {
    .variable-items-wrapper {
        .variable-item {
            &.no-stock {

                .variable-item-contents,
                img,
                span {
                    opacity: 1;
                    background: #e4e4e4;
                }
            }
        }
    }
}

// Product Specific Styles
.product-infos__single img {
    height: 1.125rem;
    width: auto;
}

// Responsive Styles
@media only screen and (max-width: 599px) {
    .single-product {
        .product-section {
            .rtwpvg-product {
                .product-single-wrapper {
                    .summary-product {
                        .entry-summary {
                            h1 {
                                line-height: 1.2;
                            }

                            .variations_form {
                                div table tbody tr .woo-variation-items-wrapper .button-variable-items-wrapper {
                                    flex-wrap: wrap;
                                }
                            }
                        }

                        .cross-sell-products {
                            .cuw-product-card {
                                margin-left: 0px;
                            }

                            .cuw-product-image {
                                height: auto !important;
                                width: 180px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .archive {
        .new-products {
            .new-products__product {
                min-width: unset;
                max-width: unset;
            }

            .show-filters {
                width: 93% !important;
            }
        }
    }

    .hero-section__main-wrapper {
        width: 91% !important;
        bottom: 125px;
    }

    .site-header .main-wrapper__main-menu.active {
        z-index: 9;
    }
}

@media only screen and (min-width: 787px) {
    .single-product {
        .product-section {
            .rtwpvg-product {
                .product-single-wrapper {
                    align-items: flex-start;

                    .summary-product {
                        position: sticky !important;
                        top: 24px !important;
                    }
                }
            }
        }
    }

    .archive .new-products__wrapper {
        flex: 1;
    }

    .page-template-homepage {
        .new-products__wrapper {
            grid-template-columns: repeat(12, 1fr);
            column-gap: 16px;
        }
    }

    .page-template-homepage .new-products__product {
        margin-right: auto;
        min-width: 490px;
        max-width: 490px;
    }

    .new-products__slider {
        overflow-x: hidden;
        white-space: nowrap;
        width: 100%;
        overflow-y: hidden;
        padding-bottom: 15px;

        &:hover {
            overflow-x: auto;
        }

        &::-webkit-scrollbar {
            height: 6px;
            background-color: #0000;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #d7d7d7;
            border-radius: 4px;

            &:hover {
                background-color: #d7d7d7;
            }
        }
    }
}

// Hero Section
.hero-section__main-wrapper {
    width: 40%;

    @media only screen and (min-width: 600px) and (max-width: 2080px) {
        width: 60%;
    }
}

// Miscellaneous
#fkcart-floating-toggler {
    display: none !important;
}

a.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout {
    visibility: hidden;

    &:before {
        content: "";
        background: url(/wp-content/uploads/2024/09/shopping-bag.svg);
        height: 24px;
        width: 24px;
        margin-right: 8px;
        background-repeat: no-repeat;
    }

    font-weight: 700;
    font-family: 'Source Sans 3';
}

.page-template-shops .hero-section__image {
    display: none !important;
}

.nav-item a[href*="black-friday"]+ul a {
    color: red !important;
    font-weight: 500;
}

.onsale-percentage-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    z-index: 10;
}