/*@media screen and (max-width: 768px) {
    .hero-section__main-wrapper {
        top: 22%;
    }

    .overlay {
        height: calc(80vh - 50px);
    }

    .konfigurator-section__wrapper-mobile img {
        height: 700px;
    }

    .konfigurator-section {
        height: 700px;
    }

    .section-footer__copyright {
        padding-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .section-footer__socials {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    form.wpcf7-form.init {
        flex-direction: column;
        align-items: baseline;
    }

    .parallax {
        min-height: 500px !important;
    }

    .ti-widget.ti-goog .ti-reviews-container {
        padding: 0 !important;
    }

    .new-products__content {
        padding-bottom: 25px;
    }

    .container-fluid {
        padding: 0 1rem;
    }

    .hero-section {
        height: 80vh;
    }

    .wishlist {

        width: 93.5%;
    }

    .new-products__product .sizes {
        margin-bottom: 29px;
        padding: 12px;
    }
}*/